{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
<!-- {% block head %}
  {{ super() }}
{% endblock %} -->
{% block page %}{{title}}{% endblock %}
<!-- {% block heading %}
  {{ super() }}
{% endblock %} -->
{% block content %}
  <!-- <h3> This is the start of my child template</h3> -->
  <br>
  <p><h1>{{my_string}}:</h1></p>
  <p>Current date/time: {{ current_time | datetimefilter }}</p>
  <br>
  <ul>
    {% for n in my_list %}
    <li><h3>Office Code ({{n.officeCode}}) = {{n.state , n.city , n.country}}</h3></li>
    {% endfor %}
  </ul>
  <br>
  <!-- <p>Same list with a filter: {{ my_list|join(', ') }}</p>
  <h3> This is the end of my child template</h3> -->
  <!-- {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %} -->